@import "./css/reset.css";


body{
  font-family: $text-font;
  &:has(.panel_wrapper){
    background: $white;
  }
}


.base{
  &_link{
    text-decoration: none;
    color: inherit;
  }
  &_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
  }
  &_title{
    font-family: $title-font;
    font-size: 48px;
    font-weight: bold;
    color: $brown;
    text-align: center;
    &.a-left{
      text-align: left;
    }
  }
}

.panel_content .base_title{
  font-size: 32px;
  text-align: left;
  margin-bottom: 32px;
}

.router-link-exact-active{
  color: $yellow-brown;
}
.logo .router-link-exact-active{
  color: $brown;
}
.navbar_item .router-link-exact-active,
.mobilenav_menu-item .router-link-exact-active,
.selector_item.new.active{
  color: $brown;
  font-weight: 600;
  .m-icon{
    path {
      stroke: $brown;
    }
  }
}

.panel_stat-icon{
  .m-icon{
    path {
      stroke: $yellow-brown;
    }
  }
}
.named_input-add{
  .m-icon{
    path {
      stroke: $white;
    }
  }
}


main.content{
  margin-top: 97px;
}
.panel_content{
  background: $white;
}

h3{
  font-size: 24px;
  color: $brown;
  margin-bottom: 28px;
  font-family: $title-font;
  font-weight: bold;
}

.inv_input{
  visibility: hidden;
  position: absolute;
}
.input_wide,
.input_wide-textarea{
  width: 100%;
  border: 1px solid #E0DAD1;
  border-radius: 6px;
  font-family: $text-font;
  font-size: 14px;
  min-height: 45px;
  background: $white;
  padding: 0 16px;
  margin-bottom: 20px;
  color: $brown;
  &::placeholder{
    color: $light-brown;
    font-size: 14px;
    font-family: $text-font;
  }
  &::selection{
    background-color: $light-grey;
    color: $pinky;
  }
}
.named_input {
  .input_wide{
    margin-bottom: 0;
  }
}
.input_wide-textarea{
  padding: 16px;
}
.btn{
  &_submit{
    width: 100%;
    height: 48px;
    border-radius: 6px;
    background: $brown;
    color: $white;
    text-transform: uppercase;
    font-family: $text-font;
    font-size: 14px;
    cursor: pointer;
    &:disabled{
      background: $light-brown;
      cursor: not-allowed;
    }
    &.big {
      display: flex;
      max-width: 600px;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 200;
    }
  }
  &_add{
    background: $white;
    border: 1px solid $semi-grey;
    border-radius: 6px;
    padding: 0 12px;
    font-size: 14px;
    height: 36px;
    font-weight: 600;
    color: $brown;
    font-family: $text-font;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

ul>li{
  list-style-type: disc;
  margin-left: 24px;
  color: $light-brown;
  margin-bottom: 12px;
  &::marker {
    color: $yellow-brown;
  }
}

.enourmous{
  font-size: 256px;
  color: $brown;
  font-family: $title-font;
}

.panel_section{
  padding: 23px;
  background: $light-pink;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid $semi-grey;
  min-width: 326px;
  box-sizing: border-box;
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.plate_text {
  .item {
    .base_link{
      user-select: none;
    }
  }
}

.empty{
  &_title{
    font-size: 24px;
  }
  &_action{
    margin-top: 20px;
    .btn_submit{
      box-sizing: border-box;
      padding: 10px;
    }
  }
}
