$title-font: 'Cormorant Garamond', serif;
$text-font: 'Inter', serif;
$light-grey: #817065;
$semi-grey: #E0DAD1;
$white: #F6F3EE;
$brown: #493527;
$light-brown: #817065;
$yellow-brown: #B49764;
$blur: rgba($white, .5);
$light-pink: #F4EEE6;
$pinky: #EDE6DE;

$wrapper-width: 1280px;
$wrapper-pos: 0 auto;
$wrapper-px0: 0 32px;
$wrapper-px64: 64px 32px;
